body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.o-c{
    color: orange;
}
section{
    display: flex;
}
.width-size{
    width: 50%;
    padding-left: 5%;

}
.width-size img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink,red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}